<nav class="navbar">
    <span>
      MyPetAcquirer
    </span>
    <div class='icon-pic'>
      <img class='pic-day' src="<%= @picture_day.random_picture.photo %>" alt="Pet picture">
    </div>
</nav>
