<div class='home'>
  <h1 class='catch-message'>Where Pets Adopt People Like You</h1>
  <div class='pic-day'>
    Hey, I am <%= @picture_day.random_picture.name %>, a beautiful <%= @picture_day.random_picture.breed %>
  </div>
<div>
