<div class='hero'>
  <div class='hero-inner'>
    <h1 class='catch-message'>Where Pets Adopt People Like You</h1>
    <button class='search-button'>Search Your Pet</button>
    <div class='search-card'>
    </div>
  </div>
</div>
